.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 100px auto;
    gap: 30px;
}

.about_image img{
    width: 400px;
    height: 250px;
    /* margin-right: 30px; */
} 

.about h2{
    color: green;
}

@media (max-width: 768px){
    .about{
       flex-direction: column;
    }
}