.container{
    background-color: thistle;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.wrapper h1{
    margin-bottom: 30px;
}

.wrapper p{
    line-height: 1.8;
}